/* Fuentes */

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/DMSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Medium.woff2") format("woff2"),
    url("../assets/fonts/DMSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/DMSans-Bold.woff") format("woff");
}

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --primary-color: #da6600;
  --secondary-blue: #0066af;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --warm-grey: #b8b8b8;
  --off-white: #f3f3f3;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

/* header */
header {
  display: grid;
  grid-template-rows: repeat(3, auto) 0;
  justify-items: center;
  gap: 32px;
  width: 100%;
  padding: 40px 20px 28px;
  text-align: center;
  background: linear-gradient(207.8deg, #282623 25%, #f7931a 120%);
}
.header__title {
  max-width: 400px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header__description {
  max-width: 360px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header__button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 52px;
  padding: 16px 20px;
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 0 0 8px var(--primary-color);
  letter-spacing: 0.5px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  color: var(--just-white);
  background-color: var(--black);
  box-shadow: 0px 4px 12px rgba(41, 39, 36, 0.536);
}

/* main */
main {
  width: 100%;
  height: auto;
}
/* Section #1 */
.exchange {
  display: grid;
  grid-template-rows: repeat(4, auto) 0;
  gap: 36px;
  padding: 60px 0 8px;
  text-align: center;
  background-color: var(--off-white);
}
.exchange__title {
  justify-self: center;
  max-width: 360px;
  padding: 0 20px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.exchange__description {
  justify-self: center;
  max-width: 360px;
  padding: 0 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #525252;
}
.table-slider {
  display: flex;
  gap: 28px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding: 0 28px;
}
.table-slider::-webkit-scrollbar {
  display: none;
}
.table-container {
  padding-bottom: 24px;
  font-family: Helvetica, sans-serif;
  scroll-snap-align: center;
}
.table__title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}
.table__title--currency {
  color: var(--primary-color);
}
.table__title--commission {
  color: var(--secondary-blue);
}
.table {
  min-width: 240px;
  width: 100%;
  max-width: 300px;
  height: 180px;
  padding: 12px 0;
}
.table table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}
table td {
  width: 50%;
  height: 25%;
  padding: 8px 12px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: start;
  color: #757575;
  background-color: var(--just-white);
}
table .table__right {
  text-align: center;
  font-size: 1.4rem;
}
table img {
  margin-left: 12px;
}
.table__date--currency {
  width: 240px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--soft-orange);
}
.table__date--currency p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--black);
}
.table__date--commission {
  width: 240px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--soft-blue);
}
.table__date--commission p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--black);
}
.exchange__batata {
  justify-self: center;
  position: relative;
  top: -4px;
}

/* Section #2 */
.product {
  display: grid;
  gap: 24px;
  width: 100%;
  padding: 60px 16px 40px;
  text-align: center;
  background-color: var(--warm-black);
}
.product__title {
  justify-self: center;
  max-width: 360px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product__description {
  justify-self: center;
  max-width: 320px;
}
.product__description,
.product__card-description {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--warm-grey);
}
.cards-container {
  display: grid;
  gap: 24px;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 8px;
  text-align: start;
}
.product__card {
  width: 100%;
  padding: 14px 16px 22px;
  border-radius: 6px;
  background-color: var(--black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.clock {
  background-image: url("../assets/icons/clock.svg");
}
.eye {
  background-image: url("../assets/icons/eye.svg");
}
.dollar-sign {
  background-image: url("../assets/icons/dollar-sign.svg");
}
.check-circle {
  background-image: url("../assets/icons/check-circle.svg");
}
.product__card-title {
  margin-bottom: 10px;
  text-shadow: 0 0 5px var(--bitcoin-orange);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--just-white);
}

/* Section #3 */
.bitcoin-bg {
  width: 100%;
  height: 400px;
  background-image: url("../assets/img/bitcoinbaby2x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bitcoin__title {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  color: var(--just-white);
}

/* Section #4 */
.plans {
  display: grid;
  gap: 24px;
  width: 100%;
  padding: 52px 0px 40px;
  text-align: center;
  background-color: var(--off-white);
}
.plans__title {
  justify-self: center;
  max-width: 400px;
  padding: 0 20px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--warm-black);
}
.plans__description {
  justify-self: center;
  padding: 0 20px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #757575;
}
.plans-slider {
  display: flex;
  gap: 28px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding: 12px 28px 0;
}
.plans-slider::-webkit-scrollbar {
  display: none;
}
.plans__card {
  scroll-snap-align: center;
  width: 60%;
  min-width: 200px;
  max-width: 240px;
  margin: 20px 0;
  padding: 0 20px 24px;
  border-radius: 8px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans__card-title {
  width: 120px;
  margin: 0 auto;
  padding: 8px;
  position: relative;
  bottom: 16px;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 8px;
  color: var(--just-white);
  background: var(--bitcoin-orange);
}
.plans__card-subtitle {
  padding-bottom: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--warm-black);
}
.plans__card .sign {
  position: relative;
  bottom: 32px;
  right: 4px;
  font-family: Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--warm-black);
}
.plans__card-price strong {
  font-family: Helvetica, sans-serif;
  font-size: 5.2rem;
  letter-spacing: -0.05em;
}
.plans__card-promo {
  margin: 10px 0px 16px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #757575;
}
.plans__card button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 8px;
  width: 100%;
  height: 48px;
  padding: 10px 8px;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid var(--bitcoin-orange);
  color: var(--warm-black);
  background-color: var(--off-white);
}
.plans__card button span {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */
footer {
  display: flex;
  width: 100%;
  height: 160px;
  background-color: var(--bitcoin-orange);
}
footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
footer ul {
  font-size: 1.4rem;
  font-weight: 400;
  list-style: none;
}
.left li {
  margin: 8px 0px 8px 50px;
}
.left a {
  text-decoration: none;
  color: var(--just-white);
}

@media (min-width: 564px) {
  .table-slider {
    justify-content: center;
  }
}

@media (min-width: 640px) {
  .header__title {
    max-width: 520px;
    font-size: 3.2rem;
    line-height: 2.8rem;
  }
  .header__description {
    font-size: 1.6rem;
  }
  .exchange {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto) 0;
    align-items: center;
    gap: 28px;
  }
  .exchange__img {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
    justify-self: end;
    padding-right: 64px;
  }
  .exchange__title {
    grid-column: 2 / 3;
    align-self: end;
    justify-self: start;
    padding: 0;
    width: 280px;
  }
  .exchange__description {
    grid-column: 2 / 3;
    place-self: start;
    padding: 0;
    width: 280px;
    font-size: 1.5rem;
  }
  .table-slider {
    grid-column: 1 / span 2;
    gap: 88px;
  }
  .exchange__batata {
    grid-column: span 2;
    top: 8px;
  }
  .cards-container {
    grid-template-columns: repeat(2, auto);
    padding-bottom: 20px;
  }
  .bitcoin-bg {
    display: none;
  }
}

@media (min-width: 832px) {
  .plans-slider {
    justify-content: center;
  }
}
